<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ice Sheets Mass Visualization</title>
    <link rel="stylesheet" href="../static/css/ice_mass.css"> <!-- 引入外部CSS文件 -->
</head>
<body>
    <h1>Ice Sheets Mass Change</h1>

    <!-- 表单让用户输入年份范围和选择数据文件 -->
    <form action="/ice_mass" method="post">
        <label for="data_file">Choose Data File: </label>
        <select id="data_file" name="data_file" required>
            <option value="" disabled selected>Please choose a place</option>
            <option value="antarctica_mass_data.csv">Antarctica</option>
            <option value="greenland_mass_data.csv">Greenland</option>
        </select>

        <label for="start_year">Start Year: </label>
        <input type="number" id="start_year" name="start_year" min="2002" max="2024" required>

        <label for="end_year">End Year: </label>
        <input type="number" id="end_year" name="end_year" min="2002" max="2024" required>

        <label for="predict_years">Predict Years: </label>
        <input type="number" id="predict_years" name="predict_years" min="0" max="100" required>

        <div class="button-container">
            <button type="submit">Generate Graph</button>
        </div>
    </form>

    <!-- 免责声明文本 -->
    <div class="disclaimer">
        This system provides trend predictions based on current data and assumptions. Please note that the model cannot accurately predict when the ice sheet mass will reach zero or stabilize completely. The prediction results reflect trends rather than exact future values.
    </div>

    <div class="graph-container">
        <!-- 在这里嵌入 Plotly 图表 -->
        {{ graph_html | safe }}
    </div>

    <div class="analysis-advice">
        {% if analysis and advice %}
            <!-- 警告框 -->
            <div class="analysis-box">
                <h2>Analysis</h2>
                <p>{{ analysis }}</p>
            </div>

            <!-- 建议框 -->
            <div class="advice-box">
                <h2>Advice</h2>
                <p>{{ advice }}</p>
            </div>
        {% endif %}
    </div>

</body>
</html>
