<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Our System</title>

    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>

    <nav>
        <h3>Navigation</h3>
        <a href="#" onclick="showSeaLevelPage()">Global Mean Sea Level</a>
        <a href="#" onclick="showIceMassPage()">Ice Mass</a>
    </nav>

    <main>
        <h1 id="welcome-text">Welcome to Our System</h1>
        <p id="welcome-description">Select an option from the left to see more details.</p>

        <!-- This is where the dynamically loaded content will be displayed -->
    </main>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
